.top{
    background-image: url(../images/bg__top-shedow.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.top__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    min-height: 500px;
    color:#ffffff;
    font-family: "Cormorant",serif;
    font-weight: 400;
}

.top__title{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;


}

.top__text{
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;


}


.blockquote__text{
    text-align: center;
    font-family: "Cormorant",serif;
    font-size: 40px;
    font-style: italic;
    line-height: normal;
    max-width: 704px;
    margin: 150px auto;

}
